# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp
.pnp.js

# testing
/coverage/

# production
/build/
/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Rust-specific
/target/
/Cargo.lock

# Executable files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Executable files for OS X
*.out

# Miscellaneous
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.rs.bk
